.footer {
  background: #000000;
}

.footer-container {
  max-width: 1200px;
  padding: 120px 20px 60px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  align-items: center;
}

.footer-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  color: #cccccc;
}

.footer-contato li {
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 1.1;
  color: #ffffff;
  margin-bottom: 30px;
}

.footer-contato li a {
  color: #ffffff;
 
}

.footer-copy {
  grid-column: 1 / -1;
  font-size: 1.125rem;
  color: #8f8f8f;
}

@media (max-width: 800px) {
  .footer-container {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .footer-contato li {
    font-size: 1.5rem;
  }
}

@media(max-width: 450px){
  .footer-texto {
  font-size: 0.875rem;
  line-height: 1.33;
  color: #cccccc;
  display: flex;
  flex-wrap: wrap;
  word-break: 5ch;
}
 .footer-container {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .footer-contato li {
    font-size: 1.5rem;
  }
}
#curriculo-baixar a{
  font-size: 25px;
  text-decoration: none;
  
  
}
#curriculo-baixar{
  font-size: 25px;
  text-decoration: none;
  
  
}
#curriculo-baixar:hover{
   text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 6px;
  
}
