body {
  font-family: "Fira Sans", Arial, sans-serif;
  margin: 0px;
  color: #141414;
}

h1,
h2,
h3,
p {
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  border: 2px solid #ffffff;
  border-radius: 25px;
}

.subtitulo {
  font-size: 8rem;
  line-height: 1;
  text-transform: uppercase;
  word-break: break-all;
  max-width: 4ch;
}

@media (max-width: 800px) {
  .subtitulo {
    font-size: 3rem;
    text-transform: capitalize;
    max-width: initial !important;
  }
}
.img-sociais{
  width: 50px;
  height: 50px;
  border: 0px solid black;
  border-radius: 4px;
  display: inline-block;
}
#sociais-lista{
  display: flex;
  gap: 5px;
}
.curriculo-baixar a{
  font-size: 25px;
  text-decoration: none;
  
  
}
.curriculo-baixar{
  font-size: 25px;
  text-decoration: none;
  
  
}
.curriculo-baixar:hover{
   text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 6px;
  
}
